@model KutuphaneProject.Models.Entity.TBLHAREKET
@{
    ViewBag.Title = "OduncVer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("OduncVer", "Odunc", FormMethod.Post))
{
    <div style="margin-top:25px"></div>
    <div style="margin-top:15px">
        <label>Üye : </label>
        @Html.DropDownListFor(x => x.UyeId, (List<SelectListItem>)ViewBag.Uyeler, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap : </label>
        @Html.DropDownListFor(x => x.KitapId, (List<SelectListItem>)ViewBag.Kitaplar, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Personel : </label>
        @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.Personeller, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Alış Tarihi: </label>
        <input type="text" name="AlisTarih" class="form-control" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <label>İade Tarihi: </label>
        <input type="text" name="IadeTarih" class="form-control" value="@DateTime.Now.AddDays(7).ToShortDateString()"/>
    </div>
    <div style="margin-top:15px">
        <button style="background-color:#a330b5;color:white" class="btn btn-group">Kitabı Ödünç Ver</button>
    </div>
}

